// You can add CSS rules here that will be inlined into each document.
// .sidebar a {
//   text-shadow: rgba(0, 0, 0, 0.25) 0.1rem 0.1rem 0.15rem;
// }

body {
    background-color: #636363; /* Set your desired color here */
    color: white; /* Set your desired font color here */
}

a {
    color: white; /* this is the link color */
}

p {
    color: white; /* Change to your desired color */
}